/* Estils globals per al body (tipografia, amplada màxima, marges, etc.).
Estils per ocultar elements (.hidden).
Estils per als controls (.controls), incloent flexbox per a l'alineació.
Estils per al contenidor principal (.container).
Estils per l'indicador de càrrega (#loading) i els missatges d'error (#error).
Estils per la visualització dels resultats (#results), utilitzant CSS Grid per a una disposició en columnes adaptable (grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))).
Estils per a les "targetes" individuals de dades (.card), incloent-hi vores, ombres, padding i un efecte de :hover.
Estils per als botons de paginació (.pagination button), incloent l'estat :disabled. */

/* HEADER NAV — mobile first */
.container {
  width: 100%;
}

.results-wrapper,
.controls-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--color-black);
}

.header-logo img {
  height: 4rem;
}

.header-menu {
  display: none;
}

/* TABLET I DESKTOP */
@media (width >= 768px) {
  .header-nav {
    justify-content: space-between;
    padding: 1rem 3rem;
  }

  .header-menu {
    display: flex;
    gap: 4rem;
  }

  .header-menu-link {
    font-size: 1rem;
  }

  .header-menu-link:hover {
    color: var(--color-primary);
  }

  .header-menu-link.active {
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
  }
}
